# Imports

In [8]:
import pandas as pd

import inflection

## 0.1 - Loading data

In [4]:
df = pd.read_csv("../data/data.csv")

In [5]:
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

# 1.0 - Data Description

## 1.0.1 - Renaming columns

In [10]:
df1 = df.copy()

In [16]:
df1.columns

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [9]:
columns_old = df.columns

In [21]:
#Converting the columns names to snake_case 
rename_columns = lambda x: inflection.underscore(x)
columns_new = list(map(rename_columns, columns_old))

#Renaming
df1.columns = columns_new

## 1.0.2 - Data Dimension

In [23]:
print( 'The dataframe has {} lines and {} columns'.format(df1.shape[0], df1.shape[1]) )

The dataframe has 10999 lines and 12 columns

## 1.0.3 - Data Types

In [24]:
df1.dtypes

id                      int64
warehouse_block        object
mode_of_shipment       object
customer_care_calls     int64
customer_rating         int64
cost_of_the_product     int64
prior_purchases         int64
product_importance     object
gender                 object
discount_offered        int64
weight_in_gms           int64
reached.on.time_y.n     int64
dtype: object